@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  html, body {
    @apply h-full overflow-hidden;
  }
}

.rounded-custom {
  border-radius: 24px;
  clip-path: polygon(
    4% 0,
    96% 0,
    100% 26%,
    100% 74%,
    96% 100%,
    4% 100%,
    0 74%,
    0 26%
  );
}


.rounded-progress {
  clip-path: polygon(3% 0, 97% 0, 100% 20%, 100% 80%, 97% 100%, 3% 100%, 0% 80%, 0% 20%);

}
.rounded-div {
  border-radius: 32px;
  clip-path: polygon(
    4% 0,
    96% 0,
    100% 26%,
    100% 74%,
    96% 100%,
    4% 100%,
    0 74%,
    0 26%
  );
}


.rounded-img {
  border-radius: 32px;
  clip-path: polygon(
    4% 0,
    96% 0,
    100% 26%,
    100% 74%,
    96% 100%,
    4% 100%,
    0 74%,
    0 26%
  );
}



.border-gradient {
  background: linear-gradient(
    to right,
    #5f9fe7,
    #4ae1d2,
    #e07dfe,
    #ff1fca
  );
  z-index: 1;
  padding: 2px;
  position: absolute;
}

input {
  position: relative;
  z-index: 10;
}